body {
  margin: 0;
  padding: 0;
  background-color: #000;
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
#app {
  margin-top: 40px;
  margin-bottom: 40px;
}
canvas {
  display: block;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
